{# Setup Content #}
{% set source = craft.entries.section('newsAndEventsEntry').limit(50) %}
{% set relationship = craft.categories.group('newsAndEvents').slug('events') %}

{% set entriesPerPage = 5 %}
{% set page = craft.request.getParam('page') %}
{% set page = page ?: 1 %}
{% set offsetParam = (page - 1) * entriesPerPage %}

{% set numberOfEntries = craft.customQueryBuilder.customQuery(source).runQuery()|length %}

{% set isNextPage = numberOfEntries > (page * entriesPerPage) ? true : null %}
{% set isPrevPage = page > 1 ? true : null %}
{% set queryString = craft.request.getQueryStringWithoutPath()|replace('/page=\\d+&?/') %}
{% set queryString = queryString ? '&' ~ queryString %}
{% set nextUrl = isNextPage is not null ? craft.request.url ~ '?page=' ~ (page + 1) ~ queryString : null %}
{% set prevUrl = isPrevPage is not null ? craft.request.url ~ '?page=' ~ (page - 1) ~ queryString : null %}


<div class="entries-wrapper">
    {{"Total Entries: "~numberOfEntries}}<br/>
    {% for entry in craft.customQueryBuilder.customQuery(source, relationship).customPagination(page, entriesPerPage).runQuery() %}
      <ul>
        <li><p>{{entry.title}}</p></li>
        <li><p>{{entry.subtitle}}</p></li>
      </ul>
    {% endfor %}
</div>


{% if (prevUrl is not null) or (nextUrl is not null) %}
    <div class="entries-pagination">
        {% if prevUrl is not null %}<a href="{{ prevUrl }}">Previous Page</a>{% endif %}
        {% if nextUrl is not null %}<a href="{{ nextUrl }}">Next Page</a>{% endif %}
    </div>
{% endif %}
